/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
	background: linear-gradient(-45deg, #2856ed, #52b0ee, #0ef0dd, #23d5ab);
	background-size: 100% 100%;
	animation: gradient 5s ease infinite;
	height: 1vh;
	margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
/* Header styles */
header {
    text-align: center;
    padding: 50px 0;
}

/* Navigation styles */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #059bf2;
    text-decoration: none;
}

/* Main styles */
main {
    padding: 50px;
}

section {
    margin-bottom: 50px;
}

/* Button styles */

/* Room styles */
.room {
    margin-bottom: 30px;
}

.room img {
    width: 100%;
    max-width: 400px;

    margin-top:10px;
    margin-bottom:10px
}
.room1 img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 10px;
}



.slides {
    padding: 0;
    width: 750px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block;
		 width:800px;
		 
		 margin-right: auto;
		 margin-left: auto;
		 }

.slide {
    top: 0;
    opacity: 0;
    width: 750px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

contact {
    margin-top: 30px;
}

/* Footer styles */
More Information {
    margin-top: 30px;
}

.container__btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
.btn-fill {
  padding: 15px 75px;
  background: transparent;
  color: #0299f7;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0299f7;
  z-index: 1;
  overflow: hidden;
}
.btn-fill:hover span {
  color: #263238;
  transition: all 0.2s;
}
.btn-fill::after {
  background: #0299f7;
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: -318px;
  position: absolute;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
}
.btn-fill:hover::after {
  left: 0;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  color: #fff;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border-radius: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.btn:focus, .btn:focus::after {
  outline: none;
}
.btn:active {
  transform: translateY(2px);
}

footer {
    text-align: center;
    background-color: #333;
    padding: 20px 0;
}
