
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border: 8px solid white;
  border-radius: 30px;
  background-image: url('https://images.pexels.com/photos/10834393/pexels-photo-10834393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;

  h1, p {
    position: relative;
    font-size: 36px;
    max-width: 60%;
    color: #194a73;
    background-color: white;
    padding: 20px;
    border-radius: 22px 0 0 22px;

    &:before,
    &:after{ 
      content: '';
      position: absolute;
      display: block;
      height: 30px;
      width: 30px;
      right: 0;
      background-size: cover;

    }

    &:before {
      top: -30px;
      background-image: url('data:image/svg+xml,<svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 22C12.1503 22 22 12.1503 22 0V22H0Z" fill="white"/></svg>');
    }

    &:after {
      bottom: -30px;
      background-image: url('data:image/svg+xml,<svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 22C22 9.84973 12.1503 -5.31105e-07 -9.61651e-07 0L22 -9.61651e-07L22 22Z" fill="white"/></svg>');
    }
  }

  p {
    font-size: 20px;
    margin-top: 60px;
  }
}
.container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.rectangle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  positon: relative;
  width: 50px;
  height: 50px;
  background: #05f7d3;
  transform: scale(0);
  border-radius: 50%;
  color: white;
  opacity: 0;
  overflow: hidden;
  animation: scale-in 0.3s ease-out forwards, expand 0.35s 0.25s ease-out forwards;
}
.notification-text {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  color: black;
  font-family: 'Roboto', sans-serif;
  animation: fade-in 0.65s ease-in forwards;
}
@keyframes scale-in {
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes expand {
  50% {
    width: 350px;
    border-radius: 6px;
  }
  100% {
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.btn {
  position: fixed;
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
}
